<!DOCTYPE html>
<html>
  <head>
    <style>
      .content{
        text-align: center;
      }
      .banner{
        text-decoration: none;
        font-family: 'Helvetica', 'Arial', sans-serif;
      }
      .error{
        align: center;
        color: red;
        outline-style: double;
      }
    </style>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <span  class='banner'>
      <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/16px-Home-icon.svg.png' %>
      <%= link_to 'Home', root_path %> || 
      <%= link_to 'Discover Movies', discover_index_path, method: :get %> || 
      <% if current_user %>
        <%= link_to 'Dashboard', dashboard_path, method: :get %> || 
        <%= link_to 'Log Out', logout_path, method: :get %>
      <% else %>
        <%= link_to 'Log In', login_path, method: :get %>
      <% end %>
    </span>
    <div class='content'>
      <h1 class='banner'>Viewing Party</h1>
      <% flash.each do |type, message| %>
      <p class='error'><%= message %>
      </p>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
