<!DOCTYPE html>
<html>
  <head>
    <style>
      .content{
        text-align: center;
      }
      .banner{
        text-decoration: none;
        font-family: 'Helvetica', 'Arial', sans-serif;
      }

    </style>
    <title>Viewing Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "sandstone_theme" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/nav_bar" %>

    <div class='content'>
      <% flash.each do |type, message| %>
        <p class='error'>
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= message %></strong>
          </div>
          
        </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
